* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Ubuntu', sans-serif;
}
html, body {
    background: #000;
    color: #f2f2f2;
    width: 100%;
    text-align: center;
}

/* text */
h1 strong {
    color: orange;
}

/* cards */
.card {
    background: #444;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
}
.card .header {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.card .content {
    background: #222;
    font-size: 18px;
    margin: 10px 0 0 0;
    padding: 5px;
}