* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Ubuntu', sans-serif;
}
html, body {
    background: #000;
    color: #f2f2f2;
    width: 100%;
    text-align: center;
}

/* text */
h1 strong, .orange, a {
    color: orange;
}
.header h3 {
    font-style: italic;
}
.library-list p {
    padding: 5px;
}
.library-list p.selected {
    border: 1px solid white;
    border-radius: 5px;
    background: #444;
    padding: 5px;
}

/* cards */
.card {
    background: #444;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    flex-grow: 2;
}
.card .header {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
.card .content {
    background: #222;
    font-size: 16px;
    margin: 5px 0 0 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
}
.card .content .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

/* layout */
.library-info .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.half {
    width:48%;
}

/* charts */
.chart {
	font-size:12px;
	color:#f2f2f2;
	margin:10px;
	display:inline-block;
}
.chart svg {
    position: relative;
    left: -1%;/* QAD temp fix for eggregious left-padding d3 adds to SVG */
}
.c3-axis-x path,
.c3-axis-x line,
.c3-axis-y path,
.c3-axis-y line,
.c3-axis-x .tick,
.c3-axis-y .tick,
.c3-legend-item text {
	stroke:#f2f2f2;
	color:#f2f2f2;
	font-size:12px;
}
.c3-axis .domain {
    fill: none;
}
.c3-tooltip {
	color:#f2f2f2;
    background:#333;
    border:1px solid #f2f2f2;
    border-radius: 5px;
    padding:5px;
}
.c3-tooltip tbody tr td.name {
	display:none;
}
/* pie chart */
.pie .c3-chart-arc path {
	stroke:#111;
}
.pie .c3-chart-arc text {
	fill:#111;
}

/* sweet loading spinner from css-tricks */
.loader {
    width: 40px;/* the size */
    padding: 5px;/* the border thickness */
    background: orange;
    aspect-ratio: 1;
    border-radius: 50%;
    --_m: 
      conic-gradient(#0000,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    box-sizing: border-box;
    animation: load 1s linear infinite;
    margin: 5px auto
}
@keyframes load {
to{transform: rotate(1turn)}
}