html, body {
	background:#000;
	color:#f2f2f2;
	text-align:center;
	font-family:'Ubuntu', sans-serif;
	width:100%;
}
button, span {
	height:2em;
	font-size:1.5em;
	vertical-align:middle;
}
button {
	margin:10px 0 0 0;
}
button img {
	vertical-align:middle;
	position:relative;
}
button.active, a {
	color:#c68301;
}
button[disabled=disabled] {
	color:#000;
}
h1 {
  font-size:48px;
  margin:10px 0;
}
h2 {
  font-size:28px;
  margin:10px 0;
}
h3 {
  font-size:24px;
  margin:10px 0 20px;
}
h4 {
  font-size:20px;
  margin:10px 0 20px;
}
strong {
  color:orange;
}
p, blockquote, ul li {
  font-size:16px;
  margin:10px 0 20px;
  color:#d5d5d5;
}
blockquote {
  margin:10px 40px 20px;
  border-left:5px solid #777;
  padding-left:10px;
}
/* chart section */
.charts {
	font-size:12px;
	color:#f2f2f2;
}
.chart,
.data-grid {
	width:48%;
	margin:10px;
	background:#111;
	display:inline-block;
}
.chart.full {
  width:98%;
}
.chart div,
.data-grid div {
	margin:5px 10px 5px 0px;
}
.chart h3,
.data-grid h3  {
	text-align:center;
	font-size:16px;
	background:#333;
	color:#f2f2f2;
	padding:5px 0;
	font-weight:100;
	margin:0;
	border-radius:5px 5px 0 0;
}
.chart .count {
	font-size:12px;
}
.c3-axis-x path,
.c3-axis-x line,
.c3-axis-y path,
.c3-axis-y line,
.c3-axis-x .tick,
.c3-axis-y .tick,
.c3-legend-item text {
	stroke:#f2f2f2;
	color:#f2f2f2;
	font-size:12px;
}
.c3-tooltip {
	color:#333;
}
.c3-tooltip tbody tr th {
	background:#333;
}
.c3-tooltip tbody tr td.name {
	display:none;
}
/* pie chart */
.pie .c3-chart-arc path {
	stroke:#111;
}
.pie .c3-chart-arc text {
	fill:#111;
}
/* library statistics */
.statistics {
	margin: 10px auto;
}
/* data grids */
.data-grid {
	width:50%;
	margin:0 auto;
}
.data-grid .grid {
	display:flex;
	margin:0 auto;
	min-height:100px;
	flex-wrap:wrap;
}
.data-grid .grid .data-entry {
	flex:1;
	flex-basis:30%;
	min-height:50px;
}
.data-grid .grid .data-entry .title {
	display:block;
	color:orange;
	margin:10px auto 0 auto;
}
.data-grid .grid .data-entry .stat {
	margin:0;
	color:#777;
}
.data-grid .grid .data-entry .stat strong {
	color:#f2f2f2;
}
/* alert section */
.alert {
	height:15px;
}
.alert p.loading {
	font-size:18px;
	color:#fff;
}
/* section headers */
h3 {
	font-size:24px;
}
hr {
	border:#fff 1px solid;
}
/* content wrapper */
.content {
	display:none;
}
.content p {
	text-transform:capitalize;
	margin:0 10px 0 0;
}
/* controls */
.controls {
	display:none;
}
.controls span {
	margin:10px;
}
.content h3 {
	display:block;
	margin:5px 0;
}
.controls button {
	margin:2px -2px;
}
/* entries */
.grid {
	display:block;
	width:80%;
	margin:20px auto;
}
.grid .entry {
	display:inline-block;
	text-align:center;
	margin:0;
	width:140px;
	height:200px;
	max-width:200px;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	vertical-align:middle;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.grid .entry p {
	font-size:10px;
	line-height:30px;
	background:rgba(0,0,0,.8);
	vertical-align:middle;
	opacity:0;
	padding:0;
	margin:0;
}
.grid .entry p.name,
.grid .entry p.year {
	display:inline;
	font-size:18px;
}
.grid .entry:hover p {
	opacity:1;
}
/* movie and show icons */
.entry-icon {
	height:24px;
	width:24px;
	float:left;
}
.grid .entry .entry-icon {
	position:relative;
	left:5px;
	opacity:.5;
}
/* mobile */
@media all and (max-width:800px) {
	.chart {
		display:block;
		width:95%;
	}
	.grid {
		width:98%;
	}
	.grid .entry {
		width:30%;
		max-height:160px;
	}
	button {
		background:#f2f2f2;/* chrome mobile emulator fix */
	}
	button, span {
		font-size:1.2em;
	}
}