* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Ubuntu', sans-serif;
}
html, body {
    background: #000;
    color: #f2f2f2;
    width: 100%;
    text-align: center;
}

/* text */
h1 {
    margin: 10px 0;
}
strong, a {
    color: orange;
}
.library-stats p {
    margin: 5px 25px;
}
.library-stats p strong {
    display: block;
    white-space: nowrap;
}
h3 {
    font-size: 14px;
    margin: 5px 0 10px 0;
    color: orange;
}
.warning {
    color: red;
}
.library-list p {
    padding: 5px;
}
.library-list p.selected {
    border: 1px solid white;
    border-radius: 5px;
    background: #444;
    padding: 5px;
}

/* cards */
.card {
    background: #444;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    flex-grow: 2;
}
.card .header {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
.card .content {
    background: #222;
    font-size: 16px;
    margin: 5px 0 0 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
}
.card .content .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

/* layout */
.library-info .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.library-stats .row p {
    min-width: 25%;
}
.full {
    min-width: 98%;
}
.half {
    width: 48%;
}

/* recently added */
.recently-added .content .row {
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: auto;
}
.recently-added .content .entry {
    height: 180px;
    width: 130px;
    overflow: hidden;
    flex-shrink: 0;
}
.recently-added .entry img {
    height: 100%;
    width: 100%;
}
.recently-added .entry .info {
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
    padding: 5px;
    border: #fff 1px solid;
    background: rgba(0,0,0,0.5);
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:none;
}
.recently-added .entry:hover .info {
    display: block;
}

/* charts */
.chart {
    font-size:12px;
    font-weight: 100;
    color:#f2f2f2;
    margin:10px;
    display:inline-block;
}
.full .chart {
    min-height:450px;
}
.chart svg {
    position: relative;
    left: -1%;/* QAD temp fix for eggregious left-padding d3 adds to SVG */
}
.c3-axis-x path,
.c3-axis-x line,
.c3-axis-y path,
.c3-axis-y line,
.c3-axis-x .tick,
.c3-axis-y .tick,
.c3-legend-item text {
    stroke:#f2f2f2;
    color:#f2f2f2;
    font-size:12px;
}
.c3-axis .domain {
    fill: none;
}
.c3-tooltip {
    color:#f2f2f2;
    background:#333;
    border:1px solid #f2f2f2;
    border-radius: 5px;
    padding:5px;
}
.c3-tooltip tbody tr td.name {
    display:none;
}
/* pie chart */
.pie .c3-chart-arc path {
    stroke:#111;
}
.pie .c3-chart-arc text {
    fill:#111;
}

/* sweet loading spinner from css-tricks */
.loader {
    width: 40px;/* the size */
    padding: 5px;/* the border thickness */
    background: orange;
    aspect-ratio: 1;
    border-radius: 50%;
    --_m: 
    conic-gradient(#0000,#000),
    linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    box-sizing: border-box;
    animation: load 1s linear infinite;
    margin: 5px auto
}
@keyframes load {
    to{transform: rotate(1turn)}
}

/* visibility override since v-if doesn't work with svg */
.hidden {
    display: none;
}