<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medialytics</title>
    <!-- import vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <!-- import axios for API calls -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
    <!-- import d3 /c3 for visualizations -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.js"></script>
    <!-- fonts and styling -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>Media<strong>lytics</strong></h1>
            <h2>A free analytics tool for Plex servers</h2>
            <h3>This tool is not associated with Plex, and is intended only for private and non-commercial use</h3>
        </div>
        <div id="app">
            <div class="warning" v-if="serverIp === 'SERVER_IP' || serverToken === 'SERVER_TOKEN'">
                <h3>
                    Credentials unset. Please edit scripts.js to set your server IP and token.
                </h3>
            </div>
            <div class="warning" v-if="debugMode">
                <p>Debug mode enabled, open developer tools (F12) for more info</p>
            </div>
            <p>Targeted Server:</p>
            <p><a target="_blank" v-bind:href="serverIp">{{ serverIp }}</a></p>
            <div class="card recently-added">
                <div class="header">
                    <p>Recently Added</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="entry" v-for="item in recentlyAdded" v-bind:key="item.key">
                            <template v-if="item.type === 'movie'">
                                <img v-bind:src="serverIp + item.thumb + '?X-Plex-Token=' + serverToken"
                                v-bind:alt="item.title" />
                                <div class="info">
                                    <p class="title">{{ item.title }}</p>
                                    <p class="year">({{ item.year }})</p>
                                </div>
                            </template>
                            <template v-else>
                                <img v-bind:src="serverIp + item.parentThumb + '?X-Plex-Token=' + serverToken"
                                v-bind:alt="item.parentTitle" />
                                <div class="info">
                                    <p class="title">{{ item.parentTitle }} / {{ item.title }}</p>
                                    <p class="year">({{ item.parentYear }})</p>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card library-list">
                <div class="header">
                    <p>Available Libraries</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div v-for="library in availableLibraries" v-bind:key="library.key">
                            <p :class="{  selected : selectedLibrary === library.title }"><a href="javascript:void(0);" v-on:click="getLibraryData(library.key)">{{ library.title }}</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="library-info" v-if="selectedLibrary.length > 0">
                <div class="row">
                    <div class="card library-stats">
                        <div class="header">
                            <p>Statistics for {{ selectedLibrary }}</p>
                        </div>
                        <div v-if="libraryStatsLoading" class="loader"></div>
                        <div class="content" v-if="!libraryStatsLoading">
                            <div class="row">
                                <p v-if="selectedLibraryStats.increment === 'movie'"><strong>Total Size:</strong> {{ selectedLibraryStats.totalItems.toLocaleString() }} movies</p>
                                <p v-else>
                                    <strong>Total Size:</strong>
                                    {{ selectedLibraryStats.totalItems.toLocaleString() }} shows /
                                    {{ selectedLibraryStats.seasonSum.toLocaleString() }} seasons /
                                    {{ selectedLibraryStats.episodeSum.toLocaleString() }} episodes
                                </p>
                                <p class="watched">
                                    <strong>Watched:</strong>
                                    <span class="watched-gauge"></span>
                                    <span>
                                        {{ selectedLibraryStats.watchedCount.toLocaleString() }} / {{ selectedLibraryStats.totalItems }}
                                        ({{ Math.floor((selectedLibraryStats.watchedCount / parseInt(selectedLibraryStats.totalItems.replace(/,/g, ''))) * 100) }}&#37;)
                                    </span>
                                </p>
                                <p><strong>Total Duration:</strong> {{ selectedLibraryStats.totalDuration }}</p>
                            </div>
                            <div class="row">
                                <p v-if="selectedLibraryStats.increment === 'movie'">
                                    <strong>Longest {{ selectedLibraryStats.increment }}:</strong>
                                    {{ selectedLibraryStats.longestTitle }} ({{ Math.floor(selectedLibraryStats.longestDuration / 60000) }} mins)
                                </p>
                                <p v-else>
                                    <strong>Longest {{ selectedLibraryStats.increment }}:</strong>
                                    {{ selectedLibraryStats.longestTitle }} ({{ selectedLibraryStats.longestDuration.toLocaleString() }} episodes)
                                </p>
                                <p><strong>Oldest {{ selectedLibraryStats.increment }}:</strong> {{ selectedLibraryStats.oldestTitle }}</p>
                            </div>
                            <div class="row">
                                <p><strong>Earliest Addition:</strong> {{ selectedLibraryStats.firstAdded }} ({{ selectedLibraryStats.firstAddedDate.toLocaleDateString().replace(/\//g,'-') }})</p>
                                <p><strong>Latest Addition:</strong> {{ selectedLibraryStats.lastAdded }} ({{ selectedLibraryStats.lastAddedDate.toLocaleDateString().replace(/\//g,'-') }})</p>
                            </div>
                            <div class="row">
                                <p>{{ selectedLibraryStats.sortedGenresWatchedCounts }}</p>
                            </div>
                            <div class="row" v-if="unmatchedItems.length > 0">
                                <p><strong>Unmatched Items ({{ selectedLibraryStats.unmatchedItems.length }}):</strong></p>
                                <p>{{ selectedLibraryStats.unmatchedItems.join(', ') }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- items by genre chart -->
                <div class="row">
                    <div class="card half">
                        <div v-if="libraryStatsLoading" class="loader"></div>
                        <div v-else class="header">
                            <p>{{ selectedLibraryStats.increment }}s per Genre (Top {{ selectedLibraryStats.genreLimit }})</p>
                        </div>
                        <div class="content">
                            <div class="row">
                                <p><strong>Total Genres:</strong> {{ selectedLibraryStats.totalGenreCount }}</p>
                                <div class="chart-toggle">
                                    <input type="checkbox"
                                        id="genreToggle"
                                        v-on:click="renderGenreChart(genreToggle)"
                                        v-model="genreToggle"
                                        true-value="pie"
                                        false-value="bar"
                                        checked>
                                    <label for="genreToggle"></label>
                                </div>
                                <div class="chart-limit">
                                    <label for="genreLimit">Limit:&nbsp;</label>
                                    <input type="number"
                                        id="genreLimit"
                                        v-model="newGenreLimit"
                                        min="1"
                                        step="1">
                                    <button v-on:click="updateLimit('genre', newGenreLimit)">Update</button>
                                </div>
                                <p><strong>Top Genre:</strong> {{ selectedLibraryStats.topGenre }} ({{ selectedLibraryStats.topGenreCount }})</p>
                            </div>
                            <div class="row">
                                <div class="chart items-by-genre"></div>
                            </div>
                        </div>
                    </div>
                    <!-- items by country chart -->
                    <div class="card half">
                        <div class="header">
                            <p>{{ selectedLibraryStats.increment }}s per Country (Top {{ selectedLibraryStats.countryLimit }})</p>
                        </div>
                        <div v-if="libraryStatsLoading" class="loader"></div>
                        <div class="content">
                            <div class="row">
                                <p><strong>Total Countries:</strong> {{ selectedLibraryStats.totalCountryCount }}</p>
                                <div class="chart-toggle">
                                    <input type="checkbox"
                                        id="countryToggle"
                                        v-on:click="renderCountryChart(countryToggle)"
                                        v-model="countryToggle"
                                        true-value="pie"
                                        false-value="bar"
                                        checked>
                                    <label for="countryToggle"></label>
                                </div>
                                <div class="chart-limit">
                                    <label for="countryLimit">Limit:&nbsp;</label>
                                    <input type="number"
                                        id="countryLimit"
                                        v-model="newCountryLimit"
                                        min="1"
                                        step="1">
                                    <button v-on:click="updateLimit('country', newCountryLimit)">Update</button>
                                </div>
                                <p><strong>Top Country:</strong> {{ selectedLibraryStats.topCountry }} ({{ selectedLibraryStats.topCountryCount }})</p>
                            </div>
                            <div class="row">
                                <div class="chart items-by-country"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- items by decade chart -->
                    <div class="card half">
                        <div class="header">
                            <p>{{ selectedLibraryStats.increment }}s per Decade</p>
                        </div>
                        <div v-if="libraryStatsLoading" class="loader"></div>
                        <div class="content">
                            <div class="row">
                                <p><strong>Total Decades:</strong> {{ selectedLibraryStats.totalDecadeCount }}</p>
                                <div class="chart-toggle">
                                    <input type="checkbox"
                                        id="decadeToggle"
                                        v-on:click="renderDecadeChart(decadeToggle)"
                                        v-model="decadeToggle"
                                        true-value="pie"
                                        false-value="bar"
                                        checked>
                                    <label for="decadeToggle"></label>
                                </div>
                                <div class="chart-limit">
                                    <label for="decadeLimit">Limit:&nbsp;</label>
                                    <input type="number"
                                        id="decadeLimit"
                                        v-model="newDecadeLimit"
                                        min="1"
                                        step="1">
                                    <button v-on:click="updateLimit('decade', newDecadeLimit)">Update</button>
                                </div>
                                <p><strong>Top Decade:</strong> {{ selectedLibraryStats.topDecade }} ({{ selectedLibraryStats.topDecadeCount }})</p>
                            </div>
                            <div class="row">
                                <div class="chart items-by-decade"></div>
                            </div>
                        </div>
                    </div>
                    <!-- items by studio chart -->
                    <div class="card half">
                        <div class="header">
                            <p>{{ selectedLibraryStats.increment }}s per Studio (Top {{ selectedLibraryStats.studioLimit }})</p>
                        </div>
                        <div v-if="libraryStatsLoading" class="loader"></div>
                        <div class="content">
                            <div class="row">
                                <p><strong>Total Studios:</strong> {{ selectedLibraryStats.totalStudioCount }}</p>
                                <div class="chart-toggle">
                                    <input type="checkbox"
                                        id="studioToggle"
                                        v-on:click="renderStudioChart(studioToggle)"
                                        v-model="studioToggle"
                                        true-value="pie"
                                        false-value="bar"
                                        checked>
                                    <label for="studioToggle"></label>
                                </div>
                                <div class="chart-limit">
                                    <label for="studioLimit">Limit:&nbsp;</label>
                                    <input type="number"
                                        id="studioLimit"
                                        v-model="newStudioLimit"
                                        min="1"
                                        step="1">
                                    <button v-on:click="updateLimit('studio', newStudioLimit)">Update</button>
                                </div>
                                <p><strong>Top Studio:</strong> {{ selectedLibraryStats.topStudio }} ({{ selectedLibraryStats.topStudioCount }})</p>
                            </div>
                            <div class="row">
                                <div class="chart items-by-studio"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <!-- items by writer chart -->
                    <div class="card full">
                        <div class="header">
                            <p>{{ selectedLibraryStats.increment }}s per Writer (Top {{ selectedLibraryStats.studioLimit }})</p>
                        </div>
                        <div v-if="libraryStatsLoading" class="loader"></div>
                        <div class="content">
                            <div class="row">
                                <p><strong>Total Writers:</strong> {{ selectedLibraryStats.totalWriterCount }}</p>
                                <div class="chart-toggle">
                                    <input type="checkbox"
                                        id="writerToggle"
                                        v-on:click="renderWriterChart(writerToggle)"
                                        v-model="writerToggle"
                                        true-value="pie"
                                        false-value="bar"
                                        checked>
                                    <label for="writerToggle"></label>
                                </div>
                                <div class="chart-limit">
                                    <label for="writerLimit">Limit:&nbsp;</label>
                                    <input type="number"
                                        id="writerLimit"
                                        v-model="newWriterLimit"
                                        min="1"
                                        step="1">
                                    <button v-on:click="updateLimit('writer', newWriterLimit)">Update</button>
                                </div>
                                <p><strong>Top Writer:</strong> {{ selectedLibraryStats.topWriter }} ({{ selectedLibraryStats.topWriterCount }})</p>
                            </div>
                            <div class="row">
                                <div class="chart items-by-writer"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- items by actor chart -->
                    <div class="card half">
                        <div class="header">
                            <p>{{ selectedLibraryStats.increment }}s per Actor (Top {{ selectedLibraryStats.studioLimit }})</p>
                        </div>
                        <div v-if="libraryStatsLoading" class="loader"></div>
                        <div class="content">
                            <div class="row">
                                <p><strong>Total Actors:</strong> {{ selectedLibraryStats.totalActorCount }}</p>
                                <div class="chart-toggle">
                                    <input type="checkbox"
                                        id="actorToggle"
                                        v-on:click="renderActorChart(actorToggle)"
                                        v-model="actorToggle"
                                        true-value="pie"
                                        false-value="bar"
                                        checked>
                                    <label for="actorToggle"></label>
                                </div>
                                <div class="chart-limit">
                                    <label for="actorLimit">Limit:&nbsp;</label>
                                    <input type="number"
                                        id="actorLimit"
                                        v-model="newActorLimit"
                                        min="1"
                                        step="1">
                                    <button v-on:click="updateLimit('actor', newActorLimit)">Update</button>
                                </div>
                                <p><strong>Top Actor:</strong> {{ selectedLibraryStats.topActor }} ({{ selectedLibraryStats.topActorCount }})</p>
                            </div>
                            <div class="row">
                                <div class="chart items-by-actor"></div>
                            </div>
                        </div>
                    </div>
                    <!-- items by director chart -->
                    <div class="card half">
                        <div class="header">
                            <p>{{ selectedLibraryStats.increment }}s per Director (Top {{ selectedLibraryStats.studioLimit }})</p>
                        </div>
                        <div v-if="libraryStatsLoading" class="loader"></div>
                        <div class="content">
                            <div v-if="selectedLibraryStats.increment === 'movie'" class="row">
                                <p><strong>Total Directors:</strong> {{ selectedLibraryStats.totalDirectorCount }}</p>
                                <div class="chart-toggle">
                                    <input type="checkbox"
                                        id="directorToggle"
                                        v-on:click="renderDirectorChart(directorToggle)"
                                        v-model="directorToggle"
                                        true-value="pie"
                                        false-value="bar"
                                        checked>
                                    <label for="directorToggle"></label>
                                </div>
                                <div class="chart-limit">
                                    <label for="directorLimit">Limit:&nbsp;</label>
                                    <input type="number"
                                        id="directorLimit"
                                        v-model="newDirectorLimit"
                                        min="1"
                                        step="1">
                                    <button v-on:click="updateLimit('director', newDirectorLimit)">Update</button>
                                </div>
                                <p><strong>Top Director:</strong> {{ selectedLibraryStats.topDirector }} ({{ selectedLibraryStats.topDirectorCount }})</p>
                            </div>
                            <div class="row">
                                <div :class="{hidden : selectedLibraryStats.increment == 'movie'}">
                                    Only available for movie libraries
                                </div>
                                <div :class="{hidden : selectedLibraryStats.increment != 'movie'}" class="chart items-by-director"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- items by resolution chart -->
                <div class="row">
                    <div class="card half">
                        <div v-if="libraryStatsLoading" class="loader"></div>
                        <div v-else class="header">
                            <p>{{ selectedLibraryStats.increment }}s per Resolution (Top {{ selectedLibraryStats.resolutionLimit }})</p>
                        </div>
                        <div class="content">
                            <div v-if="selectedLibraryStats.increment === 'movie'" class="row">
                                <p><strong>Total Resolutions:</strong> {{ selectedLibraryStats.totalResolutionCount }}</p>
                                <div class="chart-toggle">
                                    <input type="checkbox"
                                        id="resolutionToggle"
                                        v-on:click="renderResolutionChart(resolutionToggle)"
                                        v-model="resolutionToggle"
                                        true-value="pie"
                                        false-value="bar"
                                        checked>
                                    <label for="resolutionToggle"></label>
                                </div>
                                <div class="chart-limit">
                                    <label for="resolutionLimit">Limit:&nbsp;</label>
                                    <input type="number"
                                        id="resolutionLimit"
                                        v-model="newResolutionLimit"
                                        min="1"
                                        step="1">
                                    <button v-on:click="updateLimit('resolution', newResolutionLimit)">Update</button>
                                </div>
                                <p><strong>Top Resolution:</strong> {{ selectedLibraryStats.topResolution }} ({{ selectedLibraryStats.topResolutionCount }})</p>
                            </div>
                            <div class="row">
                                <div :class="{hidden : selectedLibraryStats.increment == 'movie'}">
                                    Only available for movie libraries
                                </div>
                                <div :class="{hidden : selectedLibraryStats.increment != 'movie'}" class="chart items-by-resolution"></div>
                            </div>
                        </div>
                    </div>
                    <!-- items by container chart -->
                    <div class="card half">
                        <div v-if="libraryStatsLoading" class="loader"></div>
                        <div v-else class="header">
                            <p>{{ selectedLibraryStats.increment }}s per Container (Top {{ selectedLibraryStats.containerLimit }})</p>
                        </div>
                        <div class="content">
                            <div v-if="selectedLibraryStats.increment === 'movie'" class="row">
                                <p><strong>Total Containers:</strong> {{ selectedLibraryStats.totalContainerCount }}</p>
                                <div class="chart-toggle">
                                    <input type="checkbox"
                                        id="containerToggle"
                                        v-on:click="renderContainerChart(containerToggle)"
                                        v-model="containerToggle"
                                        true-value="pie"
                                        false-value="bar"
                                        checked>
                                    <label for="containerToggle"></label>
                                </div>
                                <div class="chart-limit">
                                    <label for="containerLimit">Limit:&nbsp;</label>
                                    <input type="number"
                                        id="containerLimit"
                                        v-model="newContainerLimit"
                                        min="1"
                                        step="1">
                                    <button v-on:click="updateLimit('container', newContainerLimit)">Update</button>
                                </div>
                                <p><strong>Top Container:</strong> {{ selectedLibraryStats.topContainer }} ({{ selectedLibraryStats.topContainerCount }})</p>
                            </div>
                            <div class="row">
                                <div :class="{hidden : selectedLibraryStats.increment == 'movie'}">
                                    Only available for movie libraries
                                </div>
                                <div :class="{hidden : selectedLibraryStats.increment != 'movie'}" class="chart items-by-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/scripts.js"></script>
    </div>
</body>
</html>
